.pagination {
  display: flex;
  align-items: center;
  padding: 0 50px;
}

.pageList {
  display: flex;
  padding: 0;
  margin: 5px 15px;
  list-style-type: none;
}

.pageItem {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 45px;
  min-height: 45px;
  padding: 5px;
  border-radius: 5px;
  margin: 10px 5px;
  background-color: beige;
  font-size: 20px;
  cursor: pointer;
}

.pageItemInteractiveHolder {
  position: relative;
}

.pageItemInteractive {
  width: 70px;
  border: none;
  text-align: center;
  vertical-align: bottom;
  font-weight: bold;
}

.hintMsg {
  z-index: 1;
  position: absolute;
  bottom: 105%;
  left: calc(50% - 60px);
  min-width: 120px;
  padding: 3px 5px;
  text-align: center;
  border-radius: 5px;
  background-color: #2cd3d3;
  color: #015e24;
  font-weight: bold;
  font-style: italic;
}

.hintMsg:after {
  z-index: -1;
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 15px;
  height: 15px;
  transform: translateX(-50%) rotate(45deg);
  content: '';
  background: #000;
  background-color: #2cd3d3;
}

.pageItemInteractive::-webkit-outer-spin-button,
.pageItemInteractive::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btnEdgePage {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: none;
  border-bottom: 5px solid orange;
  border-left: 5px solid orange;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.btnEdgePage:after {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  content: '';
}

.btnEdgePage:focus {
  outline: none;
}

.btnFirstPage {
  transform: rotate(45deg);
}

.btnEndPage {
  transform: rotate(225deg);
}
