.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: span 2;
  padding: 20px;
  background-color: #b4edf5;
}

.header:before, .header:after {
  position: absolute;
  bottom: -10px;
  height: 30px;
  content: '';
}

.header:before {
  right: 80.8%;
  left: 0;
  background-image: linear-gradient(#b4edf5 75%, #eee5eb 100%);
}

.header:after {
  right: 0;
  left: 19.2%;
  background-image: linear-gradient(#b4edf5 75%, #f8e8af 100%);
}

.logo {
  width: 40px;
  height: 40px;
}

.loginBlock a {
  text-decoration: none;
  color: teal;
}
