.app-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 80px 1fr;
  min-height: 100vh;
}

.app-wrapper-content {
  background-image: linear-gradient(90deg, #eee5eb 0, #f8e8af 8px);
  box-shadow: 0 -1px 1px 0 #e6d082;
}
