.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  padding: 20px 40px;
}

.dialogsItem {
  padding: 10px;
  color: #fff;
}

.dialog__link {
  color: #000;
  text-decoration: none;
}

.dialog {
  margin: 3px 0;
}

.dialogsItem .active {
  color: gold;
}

.messages {
  padding: 0 10px;
}

.messages .message {
  margin: 2px 0;
  padding: 5px 20px;
  color: #000;
  background-color: #f2dc93;
}
